<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>CSS Grid Layout</title>
</head>
<body>
    <div class="nav">
        <h1 class="name">Ankit Singh</h1>
        <ul>
            <li>HOME</li>
            <li>ABOUT ME</li>
            <li>EXPERIENCES</li>
            <li>TESTIMONIAL</li>
            <li>CONTACT</li>
        </ul>
    </div>

    <div class="main">
        <div>
            <img src="https://www.linkpicture.com/q/ankit-si_1.jpg" alt="ankit-singh">
        </div>
        <div>
            <span>WELCOME TO MY WEBSITE</span>
            <h1>Hello, I am Ankit Singh currently based in Bangalore City</h1>
            <p></p>
            <button>GET STARTED</button>
        </div>
    </div>

    <div class="about">
        <div>
            <h1>About</h1>
            <span>Hello My Name is Ankit Singh</span>
            <p>I have done 6 month Full Stack Web Development internship with Edureka and also have learned 7 months Full Stack Web Development in Masai School. Along with this I have worked on 6 projects in group as well as individually. </p>
        </div>
        <div>
            <div>
                <img src="https://www.linkpicture.com/q/Ankit-Professional-Photo_1.jpeg" alt="ankit-singh-img" width="100%">
            </div>
            <div>
                <h1>My Skills</h1>
                <span>Frontend Design</span>
                <div class="level"></div>
                <span>Backend Processing</span>
                <div class="level"></div>
                <span>HTML5 & CSS3</span>
                <div class="level"></div>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>
</html>