<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Application</title>
    <style>
        h1{
            margin-left: 580px;
        }
    </style>
</head>
<body>
    <h1>Notes Application</h1>
    <h3 id="show_user"></h3>
    <form action="">
        <h3>LogIn</h3>
        <label for="">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="">Password:</label>
        <input type="pssword" name="password" id="password" required>
        <input type="submit" value="Login">
    </form>
</body>
<script src="./src/login.js"></script>
</html>