<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Application</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/signup">SignUp</a>
        <a href="/login">Login</a>
    </nav>
    <div class="txt">
        <h3>There are four pages in this website basically.</h3>
        <ul>
            <li>Home Page</li>
            <li>About Page</li>
            <li>SignUp Page</li>
            <li>Login Page</li>
        </ul>
    </div>

    <div class="txt">
        <h3>The packages used in this websites are:</h3>
        <ul>
            <li>Nodemon</li>
            <li>Express</li>
            <li>Dotenv</li>
            <li>Mongoose</li>
        </ul>
    </div>

    <div class="txt">
        <h3>Tech Stacks Used Are:</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JS</li>
            <li>Node</li>
            <li>Express</li>
            <li>MongoDB</li>
        </ul>
    </div>

    <div class="txt">
        <h3>Middlewares used:</h3>
        <ul>
            <li>Authenticator</li>
            <li>Validator</li>
            <li>User-Logger</li>
        </ul>
    </div>
</body>
</html>