<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Application</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/signup">SignUp</a>
        <a href="/login">Login</a>
        <h3></h3>
    </nav>
    <div class="tenor-gif-embed" data-postid="21819631" data-share-method="host" data-aspect-ratio="1.74863" data-width="100%"><a href="https://tenor.com/view/welcome-boy-welcome-welcome-by-boy-motu-mota-boy-gif-21819631">Welcome Boy Welcome GIF</a>from <a href="https://tenor.com/search/welcome-gifs">Welcome GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>